<%= @question.body %> <br>

<div class= "QuestionSolutionArea">
<% if @admin %>
    Administrator solution: <%= @question.solution %>
<% end %> 
<br><br>

<% @question.shuffledSolutions.each do |sol| %>
    <%= link_to sol.capitalize, { remote: true, userResponse: sol, forQuestion: @question.id, forTopic: session[:forTopic], forLevel: session[:forLevel] }, :class => "questionSolution" %><br>
<% end %>
</div>
