<%= @question.body %> <br>

<div class= "QuestionSolutionArea">

Sol: <%= @question.solution %> <br><br>

<% @question.possibleSolutions.each do |sol| %>

    <%= link_to sol, { remote: true, userResponse: sol, forQuestion: @question.id, forTopic: session[:forTopic], forLevel: session[:forLevel] }, :class => "questionSolution" %><br>

<% end %>
</div>
