<p><%= @question.body %></p>


<div class= "QuestionSolutionArea">
<% if @admin %>
    <p>Administrator solution: <%= @question.solution %></p>
<% end %> 

<% @question.shuffledSolutions.each do |sol| %>
    <p><%= link_to sol.capitalize, { remote: true, userResponse: sol, forQuestion: @question.id, id: session[:id], levelName: session[:levelName] }, :class => "questionSolution" %></p>
<% end %>
</div>
