<%= @name + ": " + @levelName %>

<br>

<div id="questionArea">
    <p><%= link_to "Get the first question", remote: true %></p>
    <p><%= link_to "Go back", "javascript:window.history.back();" %></p>
</div>

