<h3>
   <%= @name + ": " + @levelName.capitalize %>
</h3>

<br>

<div id="questionArea" class="questionArea">
    <p><%= link_to "Get the first question", id: @topic.id, levelName: @levelName, remote: true %></p>
    <p><%= link_to "Go back", "javascript:window.history.back();" %></p>
</div>

