<h1>Hello <%= current_user.email %> </h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Progress</th>
  </tr>
 
  <% @topics.each do |t| %>
    <tr>
      <td><%= t.display_name %></td>
      <td><%= "#{current_user.checkLevelAccess(t.id) - 1} / #{t.numberOfLevels}" %></td>
      <td><%= link_to 'Show', topic_path(t) %></td>
    </tr>
  <% end %>
</table>
