<h1> <%= @topic.name %> </h1>


<%= render "shared/iconTable", items: @iconNames, path_root: @pathRoot,
path_stubs: @pathStubs, icon_stubs: @iconStubs, secondaryLinks: true, 
max_level_access: @maxLevelAccess, revision_mode: @revisionMode, 
max_view_access: @maxViewAccess %>