
<div id="demoDisplayArea">

<div class="featureBox about" onclick='showHideDiv(this)'>
   <div class="showHideDiv">
      <p>Operation:Anatomy is designed to help you build up and revise your knowledge of an anatomical structure from the inside-out, progressively increasing the complexity of anatomy until the entire structure is understood. </p>
      
      <p>One of the key features of the app is the “Walkthrough” mode. By selecting this mode, you cannot progress to the more complicated parts of the structure’s anatomy before satisfactorily working through previous sections and completing mid-topic check-up questions. However, if you want to quickly access specific information and do not want to work through the entire structure piece-by-piece, you can run the same module in “Revision” mode. This mode will allow you to freely access all of the module’s resources without needing to complete each subsection and mid-topic check-up. </p>
   </div>
</div>   

<div class="featureBox quiz" onclick='showHideDiv(this)'>
   <div class="showHideDiv">
      <p>A number of different question formats have been used to test your knowledge throughout the modules. Questions may involve selecting a single best answer from a list of multiple possible answers, matching answers together or identifying a labelled structure within an image. Once you’re happy with your answers, click “Submit” at the end of the quiz to receive your results. The scores of each quiz will be logged in your account page so that you can identify holes in your knowledge. </p>
      
      <p>At the end of each module, you can test your understanding of the entire structure by trying an end-of-topic quiz, which aims to mimic the styles of questions you might encounter in anatomy examinations. </p>
   </div>
</div>

<div class="featureBox diagrams" onclick='showHideDiv(this)'>
   <div class="showHideDiv">
      <p>Rotatable, interactive diagrams of the relevant anatomy can be found throughout each topic. To manipulate the 3D model, simply click the image and drag your cursor across the model.  In addition, videos of surface anatomy and movements can be found within each topic. Simply hover over the video and click play to watch. </p>
   
      <p>INSERT GIF OF CLICK AND DRAG DIAGRAM?</p>
   </div>
</div>

<div class="featureBox glossary" onclick='showHideDiv(this)'>
   <div class="showHideDiv"> 
      <p>The app has an in-built glossary to help you understand some of the commonly used terms in anatomy. If you don’t understand a particular word, double click it. This will bring up an information box which will give a definition of the highlighted word. Try it on the word <i>aorta</i> in this sentence. </p>
   </div>
</div>   

<div class="featureBox revisionPointer" onclick='showHideDiv(this)'>  
   <div class="showHideDiv"> 
      <p>Revision pointers and common misconceptions are included to help you maximise the efficiency of your revision. In addition, clinically relevant information and experimental evidence relating to anatomical structures is discussed throughout each module where possible. These are highlighted by their corresponding boxes and icons.</p>
   </div>
</div>   

<div class="featureBox contact" onclick='showHideDiv(this)'>   
   <div class="showHideDiv"> 
      <p>These modules were designed and written by Chris Horton and Tom Kirk, current graduate students at The University of Oxford. If you would like to make suggestions for new or existing modules or would like to be part of the development team for future modules, we’d love to hear from you. Please send all emails to OperationAnatomy (a) gmail.com </p>
   </div>
</div>

</div>
