<h2> About </h2>

Operation Anatomy has been created by two university students. 

<h2> Chris Horton </h2>
<p>Chris Horton is a first year clinical medicine student at Green Templeton College, Oxford. All of the material for this site has been written from sractch by Chris. </p>    

<h2> Tom Kirk </h2>
<p>Tom Kirk is a fourth year Engineering, Economics & Management student at Trinity College, Oxford. He has written the code behind this site. </p>

<%#<%= link_to "Technical stuff", controller: "static", action: "tech" %>%>