<div id="demoDisplayArea">

<h2> Welcome to Operation Anatomy (logo here?) </h2>

<p>Operation Anatomy is a reference and revision tool designed for both students and clinicians alike. </p>   

<h4>Simple and clear structure</h4>
<p>We're not recycling reams and reams of material from textbooks here: that's too dense and Wikipedia has already done the job for us. Instead, all of the notes and diagrams within have been written expressly for this site with an emphasis on simplicity and clarity. Content is sorted by system, structure and unit to keep things accessible for you as the user; for example, <i>innervation</i> is a unit within the <i>shoulder joint</i> structure of the <i>musculoskeletal</i> system. </p>
   
<p>The <i>walkthrough</i> mode that gives the site its name is particularly powerful: in this mode, you cannot progress to more complicated parts of a structure’s anatomy before working through the simple sections and proving yourself on the mid-topic check-up questions. This is without a doubt the best way to get most out of this site; be patient and you shall be rewarded!
</p>
   
<p>Nevertheless we understand you don't always have the luxury of time so we've provided you with an access-all-areas VIP pass: <i>revision</i> mode. This lets you quickly access specific information without working through the entire structure piece-by-piece and skipping all the tests along the way. 
</p>
   

<h4>Rich diagrams and videos</h4>
<p>Rich, interactive and dynamic diagrams that pan in 3D show both form and function. Video clips are provided for all the major joints and their movements. Diagram here? </p> 

<h4>Designed for devices</h4>
<p>Use your mobile, tablet, computer or all three; the site is designed for both touch and mouse (though the larger screen the better you'll be able to enjoy those wonderful diagrams). </p>


<h4>Glossary helper built-in</h4>
<p>Learning anatomy is hard enough without having to learn another language alongside it. So, to help you along, there's a built-in glossary with 400 no-nonsense definitions and examples that you can use simply by highlighting words. Give it a go on the word <i>aorta</i> in this sentence.
</p> 

<h4>Question bank</h4>
<p>Practice makes perfect. Test yourself at the end of each unit within a structure (eg, the innervation of the shoulder joint) and then at the end of each structure with over 300 exam-style questions designed to mimic the exam as close as possible.
</p>

<h4>Contact us</h4>
<p>These modules were designed and written by Chris Horton and Tom Kirk, both graduate students at The University of Oxford. If you would like to make suggestions for new or existing modules or would like to be part of the development team for future modules, we’d love to hear from you: OperationAnatomy (a) gmail.com 
</p>

</div>