/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 *= require basic
 *= require_self
 *= require_tree .
 */

 /* =================================== GLOBAL DIVS ======================================= */

/* Global div that all pages are rendered within */

.mainPage {
   width: 99%; 
   margin: auto; 
   padding-top: 45px; 
}

.mainPage.centered {
   text-align: center; 
   margin-right: auto;
   margin-left: auto;
}

/* =================================== FONTS ======================================= */

* { 
   font-family: Roboto, sans-serif; 
}

p {
   text-align: justify;
   width: 100%; 
   margin: auto;
   padding-top: 10pt; 
   font-size: 110%; 
   line-height: 1.5; 
}

h1 {
   font-size: 250%; 
   text-align: center; 
   font-weight: bolder; 
}

h2 {
   font-size: 180%; 
   text-align: center; 
}

h3 {
   font-size: 150%; 
}

h4 {
   font-size: 120%; 
   margin-bottom: 0pt; 
}

ol {
   font-size: 110%; 
   line-height: 1.5; 
}

/* ===================================== QUESTIONS ====================================== */

.questionArea {
   width: 500px; 
   margin-left: auto; 
   margin-right: auto; 
}

/* ================================== FEATURE BOXES ======================================= */

/* Feature box base class (for revision pointers, clinical relevance etc) */

// Background constants for icon size and position, used for each subclass. 
$backgroundSize: 90px 90px; 
$backgroundRepeat: no-repeat; 
$backgroundPosition: left top; 
$backgroundMarginLeft: -26px; 
$backgroundMarginTop: -99px; 


.showHideDiv {
   display: block; 
}

// Defines the borders and the area within which the actual content will be displayed. 
.featureBox {
   border-top: 45px solid rgba(60, 143, 216, 0.74); 
   border-bottom: 4px solid rgb(84, 131, 170); 
   margin-top: 40px; 
   padding-top: 30px; 
   padding-bottom: 10px; 
   padding-left: 20px; 
   padding-right: 20px; 
}

// Defines the header area for each feature, inc icon and title. 
.featureBox:before {
   // Title colour, size etc. 
   color: white;
   font-family: inherit; 
   font-style: italic; 
   font-size: 20px; 

   // The div area within which the icon will be drawn. 
   width:90%;
   height:60px;
   padding-top: 35px; 
   padding-left: 120px; 
   display: block; 
}

.revisionPointer:before{
   content: 'Revision Pointer'; 
   background: image-url('icons/revision.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}

.clinicalRelevance:before {
   content: 'Clinical Relevance'; 
   background: image-url('icons/relevance.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}

.experimentalEvidence:before {
   content: 'Experimental Evidence'; 
   background: image-url('icons/evidence.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}

.keepInMind:before {
   content: 'Keep In Mind!'; 
   background: image-url('icons/mind.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}

.about:before {
   content: 'About'; 
   background: image-url('icons/help.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}

// Activate this using the toggleClass line in the showHideDiv function in application.js
// The message to display then goes in the content field for the :before class (not the special). 
.about.special:before {
   content: 'About'; 
}

.quiz:before {
   content: 'Quizzes'; 
   background: image-url('icons/quiz.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}

.diagrams:before {
   content: 'Diagrams & Videos'; 
   background: image-url('icons/quiz.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}

.glossary:before {
   content: 'Glossary'; 
   background: image-url('icons/glossary.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}

.contact:before {
   content: 'Contact & Feedback'; 
   background: image-url('icons/contact.png');
   background-size: $backgroundSize;
   background-repeat: $backgroundRepeat; 
   background-position: $backgroundPosition;   
   margin-left: $backgroundMarginLeft;
   margin-top: $backgroundMarginTop; 
}


/* ================================== NAVBAR ======================================= */

$navbar-element-height: 35px; 
$navbar-element-margin: 7px; 

ul.navbar-list {
   position: fixed; 
   top: 0px;
   left: 0; 
   width: 100%; 
   height: 40px; 
   background-color: white; 
   border-bottom: 7px double rgb(0, 33, 71); 
   margin-top: 0px; 
   display: table;   
   padding: 0px; 
}

li.navbar-element {
   display: table-cell;   
   vertical-align: middle; 
   max-width: 250px; 
   height: $navbar-element-height; 
   align-content: center; 
   margin-bottom: 4px; 
   margin-top: 4px; 
}

.navbar-element-mid-container {
   position: absolute; 
   left: 50%;
   margin-top: 4px; 
}

.navbar-element-mid {
   position: relative; 
   left: -50%;
   top: 2px;  
   height: $navbar-element-height;  
}

li.navbar-element.right {
   margin-right: $navbar-element-margin; 
   float: right; 
}

li.navbar-element.left { 
   margin-left: $navbar-element-margin;
   float: left; 
}

img.navbar-icon {
   max-height: 100%; 
}

a.navbar-link {
   line-height: $navbar-element-height
}


.teachingPartialFooter { 
   width: 100%; 
   margin: auto; 
   text-align: center; 
}

ul.footer {
   bottom: 60;
   left: 0; 
   right: 0; 
   height: 45px; 
   width: 100%; 
   position: relative; 
   padding: 0px;
   display: table;    
   overflow: hidden; 
}

.footer-element {
   display: inline-block; 
}

.footer-element.left {
   margin-left: 10px; 
   float: left;
}

.footer-element.right {
   margin-right: 10px; 
   float: right; 
}

/* ================================ ICON MENUS ===================================== */

table.iconMenu {
   margin: auto; 
}

td.iconMenuCell {
   min-height: 80px; 
   max-height: 100px; 
   text-align: center; 
}

img.menuIcon {
   display: block;
   max-height: 200px; 
   width: auto; 
   margin-left: auto; 
   margin-right: auto; 
   border-collapse: separate; 
   padding: 10px; 
}


/* ================================ DICTIONARY ==================================== */

table.dictionary {
   border-collapse: collapse; 
   // border-spacing: 5px 15px;  
}

td.dictCell {
   padding: 10px; 
   vertical-align: top; 
   border-bottom: 1px solid #ddd;
}

th.dictionary {
   border-bottom: 1px solid #ddd;
}

/* ================================== FEEDBACK ======================================= */

/* Feedback form content */
div.feedbackFormContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

div.feedbackLink {
    /*height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; */

    /*position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: white; 
    border: 1px solid #888; 
    padding: 5px; */
}

/* Feedback form (inc background) */
div.feedbackForm {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


// figcaption {
//     text-align: center;
//     font-style: italic
// }

// figcaption.toggleLabel {
//     font-size: 12px;
//     font-style: normal
// }

// img.displayed {
//    display: block;
//    margin-left: auto;
//    margin-right: auto
// }





