<h1>Anatomical Glossary</h1>
<div id="pageDisplayArea">
   <h3> Did you know? </h3>
   Whilst browsing this and other teaching pages, any of the words below can be defined simply by highlighting them.  Try it on aorta in this sentence.
</div>

<br>
<br>

<table class="dictionary">
<tr><th class='dictionary'>Entry</th> <th class='dictionary'>Definition</th> <th class='dictionary'>Example</th></tr>
<% count = @entries.count %>
<% index = 0 %>
<% @entries.each do |e| %>
   <tr class='dictionary'>
      <%# classname = index.even? ? "even" : "odd"  %>
      <td class="dictCell <%# classname %>"> <i><%= e.title %></i> </td> 
      <td class="dictCell <%# classname %>"> <%= e.definition %>   </td> 
      <td class="dictCell <%#= classname %>"> <%= e.example %>      </td>
      <% index = index + 1 %>
   </tr>
<% end %>
</table>